PORT=3000
NODE_ENV=development
VERSION="v1"
SECRET_KEY="secret-key"
DATABASE_URL="postgresql://postgres:..."
DIRECT_URL="postgresql://postgres:..."
SUPABASE_URL="https://....supabase.co"
SUPABASE_ANON_KEY="ey....."