PORT=3000
VERSION=v1
NODE_ENV=development
SECRET_KEY="team-gacor"
# Connect to Supabase via connection pooling
DATABASE_URL="INSERT THE VALUE"
# Direct connection to the database. Used for migrations
DIRECT_URL="INSERT THE VALUE"
SUPABASE_URL="INSERT THE VALUE"
SUPABASE_ANON_KEY="INSERT THE VALUE"